body{
    background-color: rgb(255, 216, 154);
}
.main{
    background-color: rgb(255, 189, 82);
    padding: 15px;
}   
.row{
    text-align: center;
    
}
.drink-block{
    background-color: rgb(91, 65, 0);
    border-radius:7px;
    width: 120px;
    height: 100px;
    margin: 6px;
    color: white;
}
.drink-block .ice{
    width: 70px;
    background-color: blue;
}
.drink-block .hot{
    width: 70px;
    background-color: red;
}

.cart td{
    width:100px;
    border: 2px solid;
    background-color: white;
}

.btn{
    margin: 5px;
}
.cart{
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
}
label{
    width: 130px;
    text-align: left;
}
input{
    margin: 2px;
    border-radius: 4px;
}
footer{
    background-color: #3c4161;
    padding: 5px;
}
