
.main{
    background-color: rgb(255, 189, 82);
    padding: 15px;
}   
.row{
    text-align: center;
    
}
.drink-block{
    background-color: white;
    border-radius:5px;
    width: 120px;
}

td{
    width:100px;
    border: 2px solid;
    background-color: white;
}

.btn{
    margin: 5px;
}
table{
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
}
.btn{
    margin:4px;
}
label{
    width: 130px;
    text-align: left;
}
input{
    margin: 2px;
    border-radius: 4px;
}